<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <%- include('cabecalho') %>
    <h1><%= nome %></h1>
    <section>
        <h1>Formações</h1>
        <ul>
<%
for (let formacao of formacoes) {
_%>
            <li><%= formacao %></li>
<%
}
-%>
        </ul>
    </section>
</body>
</html>