<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <script src="/_js/media.js"></script>
    <style>
        .aprovado {
            color: green;
        }
        .reprovado {
            color: red;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>
</head>
<body id="app">
    <%- include('cabecalho') %>
    <img src="_img/logo.png">
    <h1>Index!</h1>
    <nav>
        <router-link to="/">Início</router-link>
        <router-link to="/admin/estudantes">Admin estudantes</router-link>
        <router-link to="/autor">Autor</router-link>
    </nav>
    <main>
        <router-view />
    </main>
</body>
</html>
<script type="module">
    import CrudEstudantes from './_js/CrudEstudantes.js'
    import ListEstudantes from './_js/ListEstudantes.js'
    import Autor from './_js/Autor.js'
    import Detalhes from './_js/Detalhes.js'
    
    let estudantes = Vue.ref(await listar());
    const routes = [
        { path: '/', component: ListEstudantes, props: {
            estudantes
        } },
        { path: '/admin/estudantes', component: CrudEstudantes, props: {
            estudantes
        } },
        { path: '/autor', component: Autor },
        { path: '/detalhes/:id', component: Detalhes, props: {
            estudantes
        } }
    ]
    
    const router = VueRouter.createRouter({
        history: VueRouter.createMemoryHistory(),
        routes,
    });
    
    Vue.createApp({
        setup() {
            const lista = Vue.ref([]);
            const nome = Vue.ref(null);
            function seleciona(evento) {
                nome.value = evento;
            }
            return {
                lista,
                nome,
                seleciona
            }
        }
    }).use(router).mount('#app')
</script>
<script src="/_js/EstudantesStoreAPI.js"></script>