<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <h1>Index!</h1>
    <form action="media" method="post">
        <label>
            <span>Nome</span>
            <input name="nome">
        </label>
        <label>
            <span>Nota1</span>
            <input name="nota1">
        </label>
        <label>
            <span>Nota1</span>
            <input name="nota2">
        </label>
        <button>Ok</button>
    </form>
</body>
</html>