<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <script src="/_js/media.js"></script>
    <style>
        .aprovado {
            color: green;
        }
        .reprovado {
            color: red;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body id="app">
    <%- include('cabecalho') %>
    <img src="_img/logo.png">
    <h1>Index!</h1>
    <crud-estudantes :nomes="lista" @selecionado="seleciona"></crud-estudantes>
    <crud-estudantes :nomes="lista" :nome2="nome"></crud-estudantes>
</body>
</html>
<script type="module">
    import CrudEstudantes from './_js/CrudEstudantes.js'
    Vue.createApp({
        components: {
            CrudEstudantes
        },
        setup() {
            const lista = Vue.ref([]);
            const nome = Vue.ref(null);
            function seleciona(evento) {
                nome.value = evento;
            }
            return {
                lista,
                nome,
                seleciona
            }
        }
    }).mount('#app')
</script>